<div class="title-container">
  <h2>Edit review:</h2>
</div>

<%= form_for [@recipe, @tag] do |form| %>
  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>